antlr4-python3-runtime==4.9.3
attrs==26.1.0
automat==25.4.16
beautifulsoup4==4.15.0
bs4==0.0.2
build==1.5.0
certifi==2026.6.17
cffi==2.0.0
charset-normalizer==3.4.7
click==8.4.2
constantly==23.10.4
cryptography==49.0.0
cssselect==1.4.0
defusedxml==0.7.1
filelock==3.29.4
greenlet==3.5.3
hyperlink==21.0.0
idna==3.18
incremental==24.11.0
itemadapter==0.13.1
itemloaders==1.4.0
jmespath==1.1.0
lxml==6.1.1
numpy==2.5.0
omegaconf==2.3.1
packaging==26.2
pandas==3.0.3
parsel==1.11.0
pip==26.1.2
pip-tools==7.5.3
playwright==1.61.0
protego==0.6.2
pyarrow==24.0.0
pycparser==3.0
pydispatcher==2.0.7
pyee==13.0.1
pyopenssl==26.3.0
pyproject-hooks==1.2.0
python-dateutil==2.9.0.post0
pyyaml==6.0.3
queuelib==1.9.0
requests==2.34.2
requests-file==3.0.1
scrapy==2.16.0
service-identity==26.1.0
setuptools==82.0.1
six==1.17.0
soupsieve==2.8.4
tldextract==5.3.1
twisted==26.4.0
typing-extensions==4.15.0
ultimate-sitemap-parser==1.8.1
urllib3==2.7.0
validators==0.35.0
w3lib==2.4.1
wheel==0.47.0
zope-interface==8.5
